# external requirements
Sphinx==2.4.3
coverage==5.0.3
awscli==1.18.13
python-dotenv==0.5.1
pandas==0.25.3
h5py==2.10.0
python-dateutil==2.8.0
PyYAML==5.4
keras==2.3.1
keras-self-attention==0.42.0
keras-tcn==3.0.1
gevent==1.4.0
requests==2.23.0
numpy==1.18.1
sympy==1.5.1
statsmodels==0.11.1
scikit-learn==0.22.1
matplotlib==3.0.3
seaborn==0.9.1
joblib==0.14.1
webargs<6.0.0,>=5.5.2
arrow==0.15.5
docutils==0.15.2
