# external requirements
Sphinx
coverage
awscli
python-dotenv>=0.5.1
pandas
h5py
python-dateutil<2.8.1
PyYAML<5.2
keras==2.3.1
keras-self-attention
keras-tcn
gevent>=1.4.0
requests
numpy==1.16.2
sympy
statsmodels
scikit-learn
matplotlib
seaborn
joblib
webargs
arrow
docutils<0.16
