# external requirements
Sphinx
coverage
awscli
python-dotenv
pandas
h5py
python-dateutil
PyYAML
keras-self-attention
keras-tcn
gevent
requests
numpy
sympy
statsmodels
scikit-learn
matplotlib
seaborn
joblib
webargs
arrow
docutils
